.chat-window__close-btn {
    appearance: none;
    background: #fff;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    line-height: 0;
    overflow: hidden;
    padding: 0;

    svg {
        fill: #333;
        height: 32px;
        width: 32px;
        transition: all .15s ease-in-out;
    }

    &:focus > svg,
    &:hover > svg {
        fill: #555;
    }
}