.chat-message__item__text__confirmation
{
    border-radius: 8px;
    font-size: 15px;
    line-height: 1.2;
    padding: 8px;
    max-width: 40%;
    position: relative;
    z-index: 200;
    left: 60%
}