.chat-window {
  background: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__header {
    align-items: center;
    background: #333;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
  }

  &__title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__body {
    flex: 1;
    padding: 16px;
    overflow: auto;

    & > * + * {
      margin-top: 16px;
    }
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    padding: 16px;
    position: relative;
  }

  &__input {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    flex: 1;
    font-size: inherit;
    min-height: 44px;
    max-height: 125px;
    padding: 10px;
    resize: none;
    color: #242424;
    caret-color: black !important;
    opacity: 1;
    visibility: visible;
  }

  &__input::selection {
    background: #ddd;
    color: black;
  }


  &__send-btn {
    background: #333;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    margin-left: 16px;
    min-height: 44px;
    padding: 0 16px;

    &:disabled {
      background: #bbb;
    }
  }

  &__close-btn:focus,
  &__send-btn:focus,
  &__input:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #99ceff;
  }

  @media(min-width: 576px) {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    width: 500px;

    &__body {
      flex: 350px 0 0;
    }

    &--top-right {
      bottom: auto;
      left: auto;
      right: 16px;
      top: 16px;
    }

    &--top-left {
      bottom: auto;
      left: 16px;
      top: 16px;
    }

    &--bottom-right {
      bottom: 16px;
      left: auto;
      right: 16px;
      top: auto;
    }

    &--bottom-left {
      bottom: 16px;
      left: 21%;
      right: auto;
      top: auto;
    }
  }
}
