html,body, #root{
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box;
}

.main-container {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
  display: flex;
}

.react-flow__handle {
  position: relative;
}

.highlight-node {
  border: 3px solid dodgerblue;
}

/*.customNode {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

.node-label {
  position: absolute;
  font-size: 20px;
  /*top: 130%; !* Positions the element halfway down the container *!*/
  left: 50%; /* Positions the element halfway across the container */
  transform: translate(-50%, -15%);
  text-wrap: nowrap;
}

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.react-flow.cursor-progress .react-flow__pane {
  cursor: pointer !important;
}

.cursor-pointer {
  cursor: pointer;
}